# Sample ~/.mcabber/mcabberrc file

# The jid will be the following: username@server/resource
# If password is not given, it will be interactively asked for.
# If port is not given, default Jabber port will be used.
# Use ssl = 1 to enable SSL

username = yourusername
#password = yourpassword
server = your.jabber.server
#port = 5222
resource = yourresource
ssl = 0

# Keepalive
# If you need a ping/keepalive to leave your connection open, you
# can use the pinginterval.  Setting this option to 0 disables the ping.
# Default value is 40 seconds.
#pinginterval = 40

# Set hide_offline_buddies to 1 to display only connected buddies
# in the roster.
#hide_offline_buddies = 0

# History logging
# You can save the messages history: set logging = 1
# You can load (read) the messages history: set load_logs = 1
# Default logging directory (logging_dir) is $HOME/.mcabber/histo/
logging = 1
#load_logs = 1
#logging_dir = /home/mikael/.mcabber/histo/

# External command for events
# You can specify a script or process to be launched when an event occurs.
# For now it is called the following way:
#   $events_command MSG IN jabber@id
# ... when receiving a message.
#events_command = /home/mikael/.mcabber/eventcmd

# Debug logging
# If you want advanced debug, please specify a file here.
# You can enable debug in main.c before compiling mcabber, too.
#debug = /home/mikael/mcabber.log

#  The colors
# NOTE: the following settings may or may not be used currently... :)

# Colors are: black, red, green, yellow, blue, magenta, cyan, white
color_background = blue
color_backselected = cyan
color_borderlines = white
color_jidonline = green
color_newmsg = red
color_jidofflineselected = red
color_jidoffline = red
color_text = white

