[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=MCabber
GenericName=Jabber IM Client
Comment=Console Jabber Client
Exec=mcabber
Terminal=true
Categories=ConsoleOnly;System;Network;InstantMessaging;Chat;
